.speech {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: smaller;
    color: black;
}

.direction {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: black;
    background-color: bisque;
}

.direction:hover {
    background-color: aquamarine;
    color: firebrick;
}

.marina {
    color: blueviolet;
}

.voitski {
    color: chartreuse;
}

.astroff {
    color: coral;
}

.serebrakoff {
    color: crimson;
}

.telegin {
    color: darkcyan;
}

.sonia {
    color: darkgreen;
}

.table{
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.table th, .table td{
    border: 2px solid black;
    padding: 10px;
    text-align: center;
}

.table th{
    background-color: cyan;
    color: crimson;
}

.table tbody tr:nth-child(even){
    background-color: dimgray;
}

.marina:hover {
    color: darkmagenta;
    background-color: plum;
    text-shadow: 3px 3px 3px lemonchiffon;
    filter: blur(1px);
    border: 1px solid #000;
}

.voitski:hover{
    color: crimson;
    background-color: aquamarine;
    text-shadow: 3px 3px 3px burlywood;
    filter: blur(1px);
    border: 1px solid #000;
}

.astroff:hover{
    color: darkorange;
    background-color: bisque;
    text-shadow: 3px 3px 3px khaki;
    filter: blur(1px);
    border: 1px solid #000;
}

.serebrakoff:hover{
    color: deeppink;
    background-color: lightgrey;
    text-shadow: 3px 3px 3px gold;
    filter: blur(1px);
    border: 1px solid #000;
}

.telegin:hover{
    color: green;
    background-color: lavenderblush;
    text-shadow: 3px 3px 3px darkseagreen;
    filter: blur(1px);
    border: 1px solid #000;
}

.sonia:hover{
    color: brown;
    background-color: cadetblue;
    text-shadow: 3px 3px 3px lightblue;
    filter: blur(1px);
    border: 1px solid #000;
}