.speech {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: smaller;
    color: black;
}

.direction {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: black;
    background-color: bisque;
}

.direction:hover {
    background-color: aquamarine;
    color: firebrick;
}

.marina {
    color: blueviolet;
}

.voitski {
    color: chartreuse;
}

.astroff {
    color: coral;
}

.serebrakoff {
    color: crimson;
}

.telegin {
    color: darkcyan;
}

.sonia {
    color: darkgreen;
}

.table{
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.table th, .table td{
    border: 2px solid black;
    padding: 10px;
    text-align: center;
}

.table th{
    background-color: cyan;
    color: crimson;
}

.table tbody tr:nth-child(even){
    background-color: dimgray;
}

